
.section{
    margin-bottom: 20px;
    
}
nav{
max-width: 90%;
margin: 0 auto;
    /* padding: 20px 20px 80px 80px;*/
} 
    .logo{
        gap: 20px;
    }
nav ul {
    display: flex;
gap: 50px;


}
 .stories-card img{
    width: 100%;
}
.burger-menu{
    display: none;
}
.logo > img {
    width: 70px !important; 
    height: 30px !important; 
    object-fit: contain;
}

.display-flex{
    display: flex;
}
nav img {
    width:100%;
    margin-left: 10px;
    
}
nav ul div  {
    display: flex;
align-items: center;
    list-style: none;
    gap: 70px;
    margin-right: 20px;
}
.navlist li{
    font-size: larger;
    
}
button
{
    background-color: #FEA301;
    border: none;
    color: white;
    padding: 15px 42px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: xx-large;
}
.orange{
    color: #FEA301;
}
.skyblue{
    color: #00BFFF;
}
.violet{
    color: #8A2BE2;
}
.standard-curriculam > h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}


.curriculam-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  padding: 20px;
}
.c1,.c2,.c3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
    border-radius: 20px;
    padding: 20px;
   
}
.c1{
    background: linear-gradient(to bottom right, #DEF5FF, #FFFFFF);
}
.c2{
    background: linear-gradient(to bottom right, #FFF4DC, #FFFFFF);
}
.c3{
    background: linear-gradient(to bottom right, #F2E8FF, #FFFFFF);
}
.stories {
    background: linear-gradient(to top left, #DEF5FF, #FFFFFF);
    margin-bottom: 50px;
    padding-bottom: 50px;  /* Add padding to ensure space for footer */
}

.stories > h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.stories-card {
display: grid;
    gap: 20px;
    margin: 20px;
    grid-template-columns: repeat(2,1fr);
    
}
.stories >button{
   margin-left: 600px;
    background-color: black;
}
.s1, .s2-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #FFFFFF;
    height: auto;  
    padding: 20px;  
    box-sizing: border-box;
}

.s2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 20px;
   
}
.btn-container {
    display: flex;
    justify-content: center;
}
.footer {
    margin-top: 60px;
    padding-top: 20px;  
    clear: both;
}
.footer-container{
  padding: 40px 70px 40px 70px;
  display: grid;
  
  grid-template-columns: repeat(3,1fr);
  background-color: #01ACFD;
}
.footer-logo{
    display: flex;
    gap: 10px;
    
}
.about ul li{
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width: 576px) {
    nav {
        padding: 20px 20px 80px 20px;
    }
    .burger-menu{
        display: block;
        
            width: 100%;
        height: 500px;
        width: 
    100px;
    align-items: center;
    }
    .logotext ,.navlist{
       display: none;
    }
    .logo > img {
        width: 70px !important; 
        height: 30px !important; 
        object-fit: contain;
    }
    
    nav ul div button{
        display: none;
        
    }
    
    .banner {
       flex-direction: column-reverse;

    }
   
    .curriculam-card{
        grid-template-columns: repeat(1, 1fr);
    }
    
.footer-container{
    grid-template-columns: repeat(1,1fr);
}

  .stories{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
    .stories >button{
        background-color: black;
       margin-right: 500px;
    }
    .stories-card{
        display: block;
    }
    .s1{
        display: none;
    }
    
}